/* Universal Selectors: body, lists, and paragraphs */ 
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #d9dcd6;
}
a {
    color: #ffffff;
    text-decoration: none;
}
p {
    font-size: 16px;
}

/* HEADER CODES: including header container, font, color, and model properties*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;

}

    /* "Hori" and "n" STYLE:
    Display indicates that it is according to container properties*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
    /* "SEO" STYLE: indicates a change in color*/
.header h1 .seo {
    color: #d9dcd6;
}

/* HEADER LIST INCLUDING HYPERLINKS*/
/* This block suggests the that hyperlinks are at right side of screen*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Doesn't specify bullet points */
.header nav ul {

    list-style-type: none;
} 
/* Aligns nav list to the right of the container */
.header nav li {
    display: inline-block;
    float: right;
    margin-left: 25px;
}


/* MAIN GRAPHIC OF MEETING */
.meeting { /* Graphic container to keep aspect ratio*/
    display: flex;
    max-height: auto;
    max-width: auto;
    min-inline-size: 800px;
    background-position: center;
    justify-content: center;
    position: relative;
}
/* image ratios */
.meeting img { 
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 25px;
    object-fit: contain; /* indicates that image will be contained w/in container parameters */
}

/* Float-left and right will alternate the appearance of each content element */
#float-left {
    float: left;
    margin-right: 25px;
}
#float-right {
    float: right;
    margin-left: 25px;
}

/* MAIN CONTENTS ALIGNMENTS AND CONTAINER RATIOS*/
.content { /* CONTENTS FORMAT */
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Formating of each section, following .content as it's parent */
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Sets max height of image */
.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
    max-height: 200px;
}

/* Header formatting of each content element */
.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
    /* Margin indicates spacing between header and paragraph */
    margin-bottom: 20px;
    font-size: 36px;
}


/* BENEFITS BOX: 
Container is placed on the right with set dimensions,
including margin that aligns column between right side and contents */
.benefits {
    margin-right: 20px; 
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Section formatting; includes margins between items and text color */
.benefit-lead, 
.benefit-brand, 
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Image formatting  */
.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Margin indicates spacing between header and image.
All text is centered. */
.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}






























/* SEARCH ENGING OPTIMIZATION BOX, IMG, RATIOS */




/* ONLINE REP MANAGEMENT BOX, IMG, RATIOS */



/* SOCIAL MEDIA MARKETING BOX, IMG, RATIOS */





    /* BENEFIT LEAD RATIOS, ALIGNMENTS, IMG */

}



    /* BENEFIT BRAND RATIOS, ALIGNMENTS, IMG */



    /* BENEFIT COST RATIOS, ALIGNMENTS, IMG */



/* FOOTER CODE 
Not part of Module appearance but included w/in code in case of future alterations.
Could be added to reset.css
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}

*/
